
<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  <div class="col-sm-4 col-xs-12" id="f_name_div" class='form-group'> 
    <label><font color="darkred">*</font>Discount Description (NAME)</label> <!-- Prod_Name -->
    <input type="text" class="form-control input-lg" id="f_name" required>
  </div>               

  <div class="col-sm-4 col-xs-12" id="f_rate_div" class='form-group'> 
    <label><font color="darkred">*</font>Discount Rate (%)</label> <!-- Prod_Name -->
    <input type="number" class="form-control input-lg" id="f_rate" required>
  </div>             
  <div class="col-sm-4"></div>


</div> <!-- /.row -->   

